*,
html {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: #666;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-navbar {
    height: 50px;
    font-family: sans-serif;
    box-shadow: 1px 1px 1px 2px #3333337c;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
    background-color: #555;
}

.menu {
    display: flex;
    position: relative;
}

.menu li {
    list-style-type: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px;
    transition: 0.3s ease;
    color: white;

}

.menu a:hover {
    background-color: rgb(178, 177, 177);
    border-radius: 15px;
    padding: 10px;
    transform: scale(1.2);
    color: black;
}


.container-photo {
    width: 550px;
    height: 550px;
    float: right;
    overflow: hidden;
    position: relative;
    right: 3em;
    padding-top: 3em;

}

.photo {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.biodata {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 5em
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.data h2 {
    font-family: georgia;
    font-weight: 100%;
    font-size: 2em;
}

.data p {
    font-family: sans-serif;
    text-decoration: underline 5px rgb(212, 146, 3);
    color: white;
    font-weight: 200;
}

@media screen and (max-width:768px) and (min-width:400px) {
    .photo {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container-photo {
        display: flex;
        align-items: center;
        width: 350px;
        height: 350px;
        float: right;
        overflow: hidden;
        position: relative;
        right: 1em;
        margin-top: 10em;
        padding-top: 5em;
    }



    .data {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        right: 3em
    }

    .menu li {
        margin: 5px;
    }

    .menu a {
        font-size: 20px
    }

}

@media screen and (max-width:1080px) and (min-width:768px) {
    .container-photo {
        width: 400px;
        height: 400px;
        float: right;
        overflow: hidden;
        position: relative;
        right: 3em;
        padding-top: 6em;
    }

    .data {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 300px;
        position: relative;
        right: 5em;
        bottom: 2em
    }

}

@media screen and (max-width:1500px) and (min-width:1080px) {
    .data {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 450px !important;
        position: relative;
        right: 1em;
        bottom: 5em;
        font-size: 25px;
    }
}

@media screen and (max-width:400px) {

    .menu a {
        text-decoration: none;
        color: black;
        font-size: 13px;
        border-radius: 15px;
        padding: 5px;
        transition: 0.3s ease;
        color: white;

    }

    .menu li {
        list-style-type: none;
        margin-right: 10px;
    }

    .container-photo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 200px;
        float: right;
        overflow: hidden;
        position: relative;
        right: 1em;
        margin-top: 3em;
        padding-top: 5em;
    }

    .data {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        right: 7em;
        top: 2em;
        font-size: 10px;
    }

    .box-contact {
        background-color: white;
        width: 300px !important;
        height: 70px !important;
        border-radius: 15px;
        box-shadow: 4px 4px 5px black;
        display: flex;
        align-items: center;

    }

    .container-contact {
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (max-height:360px) {
    .data {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        right: 4em;
        bottom: 1em;
        font-size: 10px;
        width: 200px;
    }

    .container-photo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 200px;
        float: right;
        overflow: hidden;
        position: relative;
        right: 1em;
        bottom: 1em;
        margin-top: 0em;
        padding-top: 5em;

    }

    .profil-content-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px;
        overflow: hidden;

    }

    .profil-content-contact img {

        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

    }

    .container-contact {
        height: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 10em;
    }

    .box-contact {
        background-color: white;
        width: 300px !important;
        height: 70px !important;
        border-radius: 15px;
        box-shadow: 4px 4px 5px black;
        display: flex;
        align-items: center;

    }
}

/* content */
/* content */
/* content */
/* content */
.profil-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    overflow: hidden;

}

.profil-content img {

    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

}

.ket {
    margin: 30px
}

.ket h3 {
    font-size: 40px;
    color: black;
    font-family: sans-serif;
    padding: 15px;

}

.ket-2 {
    margin: 30px;
}

.ket-2 h3 {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    color: black;
    font-family: sans-serif;
    padding: 15px;

}

.container-content {
    margin-bottom: 150px;
}

/* hobi */

.wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;

}

.box {
    background-color: white;
    height: 200px;
    width: 300px;
    padding: 20px;

}

.box-2 {
    background-color: white;
    height: 300px;
    width: 500px;
    padding: 20px;
}

#satu img {
    width: 100%;
    height: 100%;
}

#dua img {
    width: 100%;
    height: 100%;
}

#tiga img {
    width: 100%;
    height: 100%;
}

/* contact */
/* contact */
/* contact */
/* contact */
.container-contact {
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-contact {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box-contact {
    background-color: white;
    width: 400px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px black;
    display: flex;
    align-items: center;
}

.box-contact:hover {
    box-shadow: 3px 3px 5px black inset;

}

.box-contact img {
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profil-content-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden;

}

.profil-content-contact img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

}

.a-contact {
    text-decoration: none;
    color: black;


}

.a-contact label {
    position: relative;
    left: 20px;
}